*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
.invisible {
  visibility: hidden;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.-left-\[15px\] {
  left: -15px;
}
.-right-6 {
  right: -1.5rem;
}
.-right-\[25px\] {
  right: -25px;
}
.-top-\[30px\] {
  top: -30px;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.-z-50 {
  z-index: -50;
}
.z-10 {
  z-index: 10;
}
.z-50 {
  z-index: 50;
}
.z-\[1\] {
  z-index: 1;
}
.z-\[2\] {
  z-index: 2;
}
.m-0 {
  margin: 0;
}
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-\[15px\] {
  margin-top: 15px;
  margin-bottom: 15px;
}
.-mt-\[5px\] {
  margin-top: -5px;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mb-\[2px\] {
  margin-bottom: 2px;
}
.mb-\[30px\] {
  margin-bottom: 30px;
}
.ml-auto {
  margin-left: auto;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-\[28px\] {
  margin-top: 28px;
}
.mt-\[60px\] {
  margin-top: 60px;
}
.mt-\[70px\] {
  margin-top: 70px;
}
.mt-\[72px\] {
  margin-top: 72px;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-4 {
  height: 1rem;
}
.h-\[120px\] {
  height: 120px;
}
.h-\[153px\] {
  height: 153px;
}
.h-\[20px\] {
  height: 20px;
}
.h-\[2px\] {
  height: 2px;
}
.h-\[74px\] {
  height: 74px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.min-h-\[72px\] {
  min-height: 72px;
}
.min-h-screen {
  min-height: 100vh;
}
.\!w-full {
  width: 100% !important;
}
.w-0 {
  width: 0px;
}
.w-1\/2 {
  width: 50%;
}
.w-32 {
  width: 8rem;
}
.w-4 {
  width: 1rem;
}
.w-80 {
  width: 20rem;
}
.w-\[120px\] {
  width: 120px;
}
.w-\[140px\] {
  width: 140px;
}
.w-\[256px\] {
  width: 256px;
}
.w-\[70px\] {
  width: 70px;
}
.w-full {
  width: 100%;
}
.max-w-\[120px\] {
  max-width: 120px;
}
.max-w-full {
  max-width: 100%;
}
.flex-shrink {
  flex-shrink: 1;
}
.origin-\[0\%_0\%\] {
  transform-origin: 0% 0%;
}
.origin-\[0\%_100\%\] {
  transform-origin: 0% 100%;
}
.origin-\[4px_0px\] {
  transform-origin: 4px 0px;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.\!items-start {
  align-items: flex-start !important;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-6 {
  gap: 1.5rem;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-\[10px\] {
  border-radius: 10px;
}
.rounded-\[22px\] {
  border-radius: 22px;
}
.rounded-\[23px\] {
  border-radius: 23px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-\[rgb\(239\,239\,239\)\] {
  --tw-border-opacity: 1;
  border-color: rgb(239 239 239 / var(--tw-border-opacity));
}
.bg-\[\#0363f0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(3 99 240 / var(--tw-bg-opacity));
}
.bg-\[\#F5F5F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-hamburguer {
  --tw-bg-opacity: 1;
  background-color: rgb(16 172 132 / var(--tw-bg-opacity));
}
.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-opacity-30 {
  --tw-bg-opacity: 0.3;
}
.bg-\[url\(\'\/w-left\.png\'\)\] {
  background-image: url(/w-left.png);
}
.bg-\[url\(\'\/w-right\.png\'\)\] {
  background-image: url(/w-right.png);
}
.bg-footer-image {
  background-image: url(footer-bg.png);
}
.bg-\[length\:60px\] {
  background-size: 60px;
}
.bg-cover {
  background-size: cover;
}
.bg-\[center_50px\] {
  background-position: center 50px;
}
.bg-\[center_center\] {
  background-position: center center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.object-center {
  -o-object-position: center;
  object-position: center;
}
.p-4 {
  padding: 1rem;
}
.p-\[15px\] {
  padding: 15px;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}
.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pb-14 {
  padding-bottom: 3.5rem;
}
.pt-14 {
  padding-top: 3.5rem;
}
.pt-20 {
  padding-top: 5rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-\[25px\] {
  font-size: 25px;
}
.text-\[26px\] {
  font-size: 26px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-\[36px\] {
  font-size: 36px;
}
.text-\[59px\] {
  font-size: 59px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-\[700\],
.font-bold {
  font-weight: 700;
}
.font-light {
  font-weight: 300;
}
.font-semibold {
  font-weight: 600;
}
.\!leading-\[normal\] {
  line-height: normal !important;
}
.\!leading-loose {
  line-height: 2 !important;
}
.\!leading-tight {
  line-height: 1.25 !important;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-7 {
  line-height: 1.75rem;
}
.leading-9 {
  line-height: 2.25rem;
}
.leading-\[21px\] {
  line-height: 21px;
}
.leading-\[22px\] {
  line-height: 22px;
}
.leading-\[30px\] {
  line-height: 30px;
}
.leading-\[38px\] {
  line-height: 38px;
}
.leading-\[42px\] {
  line-height: 42px;
}
.leading-\[69px\] {
  line-height: 69px;
}
.leading-relaxed {
  line-height: 1.625;
}
.tracking-\[-0\.01em\] {
  letter-spacing: -0.01em;
}
.text-\[\#9d9d9d\] {
  --tw-text-opacity: 1;
  color: rgb(157 157 157 / var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.text-primary {
  --tw-text-opacity: 1;
  color: rgb(16 172 132 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.no-underline {
  text-decoration-line: none;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
  opacity: 0;
}
.opacity-80 {
  opacity: 0.8;
}
.shadow-\[0px_0px_20px_\#b4b4b4\] {
  --tw-shadow: 0px 0px 20px #b4b4b4;
  --tw-shadow-colored: 0px 0px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.duration-200 {
  transition-duration: 0.2s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.\[transition\:transform_0\.5s_cubic-bezier\(0\.77\,0\.2\,0\.05\,1\)\,background_0\.5s_cubic-bezier\(0\.77\,0\.2\,0\.05\,1\)\,opacity_0\.55s_ease\] {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(16 172 132 / var(--tw-text-opacity));
}
.hover\:text-primaryHover:hover {
  --tw-text-opacity: 1;
  color: rgb(0 107 112 / var(--tw-text-opacity));
}
.hover\:opacity-100:hover {
  opacity: 1;
}
.peer:checked ~ .peer-checked\:w-screen {
  width: 100vw;
}
.peer:checked ~ .peer-checked\:bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(16 172 132 / var(--tw-bg-opacity));
}
.peer:checked ~ .peer-checked\:opacity-\[0\] {
  opacity: 0;
}
.peer:checked ~ .peer-checked\:opacity-\[1\] {
  opacity: 1;
}
.peer:checked
  ~ .peer-checked\:\[transform\:rotate\(-45deg\)_translate\(0\,0\)\] {
  transform: rotate(-45deg) translate(0);
}
.peer:checked ~ .peer-checked\:\[transform\:rotate\(0\)_scale\(0\.2\,0\.2\)\] {
  transform: rotate(0) scale(0.2);
}
.peer:checked
  ~ .peer-checked\:\[transform\:rotate\(45deg\)_translate\(-2px\,-2px\)\] {
  transform: rotate(45deg) translate(-2px, -2px);
}
.peer.scrolled ~ .peer-\[\.scrolled\]\:bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(16 172 132 / var(--tw-bg-opacity));
}
.has-\[\:checked\]\:absolute:has(:checked) {
  position: absolute;
}
.has-\[\:checked\]\:right-6:has(:checked) {
  right: 1.5rem;
}
@media (max-width: 1100px) {
  .max-\[1100px\]\:bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(16 172 132 / var(--tw-bg-opacity));
  }
}
@media not all and (min-width: 990px) {
  .max-lg\:hidden {
    display: none;
  }
  .max-lg\:pb-24 {
    padding-bottom: 6rem;
  }
  .max-lg\:pt-36 {
    padding-top: 9rem;
  }
}
@media not all and (min-width: 768px) {
  .max-md\:hidden {
    display: none;
  }
  .max-md\:pb-16 {
    padding-bottom: 4rem;
  }
  .max-md\:pt-32 {
    padding-top: 8rem;
  }
}
@media (min-width: 480px) {
  .sm\:mb-0 {
    margin-bottom: 0;
  }
  .sm\:mt-4 {
    margin-top: 1rem;
  }
  .sm\:w-\[260px\] {
    width: 260px;
  }
  .sm\:w-\[30\%\] {
    width: 30%;
  }
  .sm\:w-\[50\%\] {
    width: 50%;
  }
  .sm\:w-\[70\%\] {
    width: 70%;
  }
  .sm\:bg-hero-image {
    background-image: url(agency-banner.png);
  }
  .sm\:pl-0 {
    padding-left: 0;
  }
  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .sm\:text-\[30px\] {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .md\:w-\[35\%\] {
    width: 35%;
  }
  .md\:w-\[43\%\] {
    width: 43%;
  }
  .md\:w-\[50\%\] {
    width: 50%;
  }
  .md\:w-\[60\%\] {
    width: 60%;
  }
  .md\:max-w-\[750px\] {
    max-width: 750px;
  }
  .md\:pr-0 {
    padding-right: 0;
  }
  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 990px) {
  .lg\:w-\[23\%\] {
    width: 23%;
  }
  .lg\:w-\[25\%\] {
    width: 25%;
  }
  .lg\:w-\[35\%\] {
    width: 35%;
  }
  .lg\:w-\[44\%\] {
    width: 44%;
  }
  .lg\:w-\[50\%\] {
    width: 50%;
  }
  .lg\:max-w-\[970px\] {
    max-width: 970px;
  }
  .lg\:pb-\[160px\] {
    padding-bottom: 160px;
  }
  .lg\:pt-52 {
    padding-top: 13rem;
  }
  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 1220px) {
  .xl\:w-\[40\%\] {
    width: 40%;
  }
  .xl\:max-w-\[1170px\] {
    max-width: 1170px;
  }
  .xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1367px) {
  .xxl\:min-h-screen {
    min-height: 100vh;
  }
}
